<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Lista de eventos</h1>
        <ul>
            {% for fecha in fechas %}
            <a href="{%url 'update_date' fecha.id %}">
                <li>{{fecha.fechaInicio}}</li>
            </a>
            {% endfor %}
        </ul>
        <a href="{% url 'create_date' %}">Nueva fecha</a>
    </body>
</html>