<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Crear/Actualizar eventos</h1>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Guardar</button>
        </form>
        {% if fecha %} <!-- Si la fecha existe, se muestra el botón de borrar-->
        <a href="{% url 'delete_date' fecha.id %}">Borrar</a>
        {% endif %}
    </body>
</html>