<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Verificación de eliminacion de evento</h1>
        <form method="post">
            {% csrf_token %}
            <h2>Esta seguro de que quiere remover el evento {{fecha.tag}} con fecha inicial {{fecha.fechaInicio}} y fecha final {{fecha.fechaFin}}</h2>
            <button type="submit">Confirmar</button>
        </form>
    </body>
</html>